<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear nueva productovendidos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Formulario productovendidos</h1>
    <form action="#" th:action="@{/productovendido/create}" th:object="${productovendido}" method="post">
        <p>Producto ID: <input type="text" th:field="*{producto.id}"></p>
        <p>Cantidad: <input type="text" th:field="*{cantidad}"></p>
		<p>Precio total: <input type="text" th:field="*{precioTotal}"></p>
		<p>Venta ID: <input type="text" th:field="*{venta.id}"></p>
		<button class="btn btn-primary" type="submit">Enviar</button>
    </form>
    <a href="/productovendido/index" class="btn btn-secondary">Volver a la lista de productovendidoas</a>
</body>
</html>