<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modificar ventaa</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <form action="#" th:action="@{/productovendido/{id}(id=${venta.id})}" th:object="${productovendido}" method="post">
        <input type="hidden" th:name="id" th:value="${venta.id}" />
		<p>Producto ID: <input type="text" th:field="*{producto.id}"></p>
		<p>Cantidad: <input type="text" th:field="*{cantidad}"></p>
		<p>Precio total: <input type="text" th:field="*{precioTotal}"></p>
		<p>Venta ID: <input type="text" th:field="*{venta.id}"></p>
        <input type="submit" value="Edit" class="btn btn-primary" />
    </form>
	<form action="#" th:action="@{/productovendido/delete/{id}(id=${venta.id})}" method="post">
		<input type="submit" value="delete productovendido" />
	</form>

    <a href="/productovendido/index" class="btn btn-secondary">Volver a la lista de ventaas</a>
</body>
</html>