<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	<style>
		.footer{
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	</style>
</head>

<body style="background: url(https://ipfs.dscvr.one/b2801e07-5fcb-486b-8149-9ee1b66f840b-bucket/laph85ihwdxl4qkba5.jpeg);">
	<header class="bg-dark text-white py-4">
		<div class="container">
			<h1 class="text-center">Mega Red</h1>
			<nav class="text-center">
				<ul class="nav justify-content-center">
					<li class="nav-item">
						<a class="nav-link" href="/index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/producto/index">Productos</a>
					</li>
					<li class="nav-item">
				<a th:text="${isAdmin} ? 'Ventas' : 'Historial'" class="nav-link" th:href="${isAdmin} ? '/venta/index' : '/venta/historial'"></a>
					</li>
					<li th:if="${isAdmin}" class="nav-item">
						<a class="nav-link" href="/compra/index">Compras</a>
					</li>
					<li th:if="${isAdmin}" class="nav-item">
						<a class="nav-link" href="/pedidocompra/index">Pedidos compras</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main class="container-xl" style="margin-top: 4rem;">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2 class="text-center mb-4" style="color: #fff;">BIENVENIDO</h2>
				<p class="text-center" style="color: #fff;">Los mejores articulos de computación a un click de distancia</p>
			</div>
		</div>
	<div class="container" style="margin-top: 30rem;">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<button class="btn btn-danger btn-block"><a href="/logout" class="text-white">Logout</a></button>
			</div>
		</div>
	</div>
	</main>
	<footer class="bg-dark text-white py-3 mt-5 footer">
		<div class="container text-center">
			<p>Pie de página - © 2024</p>
		</div>
	</footer>
</body>

</html>