<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Productos</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<header class="bg-dark text-white py-4">
		<div class="container">
			<h1 class="text-center">Productos</h1>
			<nav class="text-center">
				<ul class="nav justify-content-center">
					<li class="nav-item">
						<a class="nav-link" href="/producto/index">Productos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/venta/index">Ventas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/compra/index">Compras</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/pedidocompra/index">Pedidos compras</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container">
		<h1>Tabla de Productos</h1>
		<table class="table table-bordered table-striped table-hover">
			<thead class="thead-dark">
				<tr>
					<th class="th">ID</th>
					<th class="th">Nombre</th>
					<th class="th">Descripcion</th>
					<th class="th">Tipo</th>
					<th class="th">Stock Restante</th>
					<th class="th">Precio</th>
					<th class="th">Activo</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto, iterStat : ${productos}" th:class="${iterStat.index % 2 == 0 ? 'even' : 'odd'}">
					<td class="td" th:text="${producto.id}"></td>
					<td class="td" th:text="${producto.nombre}"></td>
					<td class="td" th:text="${producto.descripcion}"></td>
					<td class="td" th:text="${producto.tipo}"></td>
					<td class="td" th:text="${producto.stockRestante}"></td>
					<td class="td" th:text="${producto.precio}"></td>
					<td class="td" th:text="${producto.activo}"></td>
					<td class="td"><a th:href="@{/producto/{id}(id=${producto.id})}"
							class="btn btn-secondary">Comprar</a></td>
				</tr>
			</tbody>
		</table>
		<div class="horizontal-nav">
			<div class="container">
				<a href="/producto/new" class="btn btn-primary">Crear nueva producto</a>
			</div>
		</div>
	</div>
</body>

</html>