<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear nuevo producto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 50px;
        }
        form {
            max-width: 600px;
            margin: auto;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .btn-primary {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>Formulario de Productos</h1>
    <form action="#" th:action="@{/producto/create}" th:object="${producto}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Ingrese el nombre del producto">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" placeholder="Ingrese la descripción del producto">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" class="form-control" id="tipo" th:field="*{tipo}" placeholder="Ingrese el tipo del producto">
        </div>
        <div class="form-group">
            <label for="stockRestante">Stock Restante:</label>
            <input type="number" class="form-control" id="stockRestante" th:field="*{stockRestante}" placeholder="Ingrese el stock restante del producto">
        </div>
        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" class="form-control" id="precio" th:field="*{precio}" placeholder="Ingrese el precio del producto">
        </div>
        <div class="form-group">
            <label for="activo">Activo:</label>
            <select class="form-control" id="activo" th:field="*{activo}">
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select>
        </div>
		<div class="btn-group">
		    <button class="btn btn-primary" type="submit">Enviar</button>
		    <a href="/producto/index" class="btn btn-secondary">Volver a la lista de productos</a>
		</div>
    </form>
</body>
</html>
