<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modificar productoa</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <form action="#" th:action="@{/producto/{id}(id=${producto.id})}" th:object="${producto}" method="post">
        <input type="hidden" th:name="id" th:value="${producto.id}" />
        <p> Name: <input type="text" th:field="*{nombre}"/></p>
        <p> Descripcion: <input type="text" th:field="*{descripcion}" /></p>
		<p> Tipo: <input type="text" th:field="*{tipo}" /></p>
		<p> Stock restante: <input type="text" th:field="*{stockRestante}" /></p>
		<p> Precio: <input type="text" th:field="*{precio}" /></p>
		<p> Activo: <input type="text" th:field="*{activo}" /></p>
		<p> URL: <input type="text" th:field="*{url}" /></p>
        <input type="submit" value="Edit" class="btn btn-primary" />
    </form>
	<form action="#" th:action="@{/producto/delete/{id}(id=${producto.id})}" method="post">
		<input type="submit" value="delete producto" />
	</form>

    <a href="/producto/index" class="btn btn-secondary">Volver a la lista de productoas</a>
</body>
</html>