<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Productos</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<header class="bg-dark text-white py-4">
		<div class="container">
			<h1 class="text-center">Pedidos Compra</h1>
			<nav class="text-center">
				<ul class="nav justify-content-center">
					<li class="nav-item">
						<a class="nav-link" href="/producto/index">Productos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/venta/index">Ventas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/compra/index">Compras</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/pedidocompra/index">Pedidos compras</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container">
		<h1>Tabla de Pedidos Compra</h1>
		<table class="table table-bordered table-striped table-hover">
			<thead class="thead-dark">
				<tr>
					<th class="th">ID</th>
					<th class="th">Cantidad solicitada</th>
					<th class="th">Comprado</th>
					<th class="th">Fecha de lanzamiento</th>
					<th class="th">Producto</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pedido, iterStat : ${pedidos}" th:class="${iterStat.index % 2 == 0 ? 'even' : 'odd'}">
					<td class="td" th:text="${pedido.id}"></td>
					<td class="td" th:text="${pedido.cantidadSolicitada}"></td>
					<td class="td" th:text="${pedido.comprado}"></td>
					<td class="td" th:text="${pedido.fechaLanzamiento}"></td>
					<td class="td" th:text="${pedido.producto.id}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>