<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Crear nuevas Compras</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<h1 style="text-align: center; margin-bottom: 1rem;">Formulario pedido de Compra</h1>
	<div class="container-lg" style=" background-color: aliceblue; border-radius: 10px; padding-top: 1px;">
		<p th:text="${compra.pedidoCompra.id}">A</p>
		<p th:text="${compra.pedidoCompra.producto.id}">A</p>
		<p th:text="${compra.pedidoCompra.id}">A</p>
		<p th:text="${compra.pedidoCompra.id}">A</p>

		<form th:action="@{/pedidocompra/createcompra/{id}(id=${compra.pedidoCompra.id})}" th:object="${compra}" method="post" style="margin-top: 4rem;">
			
			<div class="form-row">
				<label for="cantidadComprada">Cantidad a Comprar: </label>
				<input required type="number" th:field="*{cantidadComprada}" min="1" max="1000">
			</div>
			
			<div class="form-row">
				<label for="proveedor">Proveedor: </label>
				<input required type="text" th:field="*{proveedor}">
			</div>

			<div class="btn-container" style="padding-bottom: 2rem; margin-top: 2rem;">
				<button class="btn btn-primary" type="submit">Enviar</button>
				<a href="/pedidocompra/index" class="btn btn-secondary">Volver a la lista de Pedidos Compra</a>
			</div>
		</form>
	</div>
</body>

</html>