<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Compras</title>
		<!-- Bootstrap core CSS -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/css/modern-business.css" rel="stylesheet" />
	</head>
	<body>
	    <nav class="horizontal-nav">
	        <div class="container">
	            <a href="/index">Inicio</a>
	            <a href="/venta/index">venta</a>
	            <a href="/product/index">Product</a>
	            <a href="/user/index">User</a>
	        </div>
	    </nav>

	    <div class="container">
	        <h1>Tabla de Compras</h1>
	        <table class="table table-bordered table-striped table-hover">
	            <thead class="thead-dark">
	                <tr>
	                    <th class="th">ID</th>
	                    <th class="th">Pedido compra</th>
	                    <th class="th">Fecha entrega</th>
	                    <th class="th">Fecha lanzamiento</th>
						<th class="th">Proveedor</th>
						<th class="th">Cantidad comprada</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="compra, iterStat : ${compras}" th:class="${iterStat.index % 2 == 0 ? 'even' : 'odd'}">
	                    <td class="td" th:text="${compra.id}"></td>
	                    <td class="td" th:text="${compra.pedidoCompra.id}"></td>
						<td class="td" th:text="${compra.fechaEntrega}"></td>
	                    <td class="td" th:text="${compra.fechaLanzamiento}"></td>
						<td class="td" th:text="${compra.proveedor}"></td>
						<td class="td" th:text="${compra.cantidadComprada}"></td>
						<td class="td"><a th:href="@{/compra/{id}(id=${compra.id})}" class="btn btn-secondary">View</a></td>
	                </tr>
	            </tbody>
	        </table>
			
			<div class="horizontal-nav">
			     <div class="container">
			         <a href="/compra/new" class="btn btn-primary">Crear nueva venta</a>
			     </div>
			 </div>
	    </div>
	</body>
</html>